.loading__wrap{
	background-color: #FAFAFA;
	height: 60px;
	position: relative;
	text-align: center;
	line-height: 60px;
	margin-top: 1px;
	.loading__inner{
		display: inline-block;
		i{
			display: inline-block;
			width: 25px;
			height: 25px;
			vertical-align: middle;
			background-image: url(images/loading_icon.svg);
			background-size: 25px;
			background-repeat: no-repeat;
			animation: 1s loading infinite;
		}
		span{
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;
			color: #5F5F5F;
			@include font-dpr(12px);
		}
	}
}

@keyframes loading {
  0% { 
	transform: rotate(0deg);
  }
  100% { 
	transform: rotate(360deg);
  }
}