// 手機通用設定

* {
	box-sizing: border-box;
}

html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "PingFang SC","arial";
}
body{
	overflow-x: hidden;
	background-color: #222222;
	&.black{
		background-color: #000;
	}
}

h1,h2,h3,h4,h5,p{
	margin: 0;
	padding: 0;
}

.css-seed{
  transform: translate3d(0, 0, 0);  
}

a,button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0);} 