// Hide Text Set

%no_text {
	font-size: 0;
	text-indent: -99999px;
}

// Hide Long Word Set

%long_word {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


// Shadow

%box-shadow-base {
	box-shadow: 0 2px 2px 1px rgba(45, 45, 45, .1), 0 4px 4px 1px rgba(45, 45, 45, .1), 0 8px 8px 1px rgba(45, 45, 45, .1), 0 16px 16px 1px rgba(45, 45, 45, .1), 0 32px 32px 1px rgba(45, 45, 45, .1);
}

// Horizontal List

%Hori_list {
	@extend .clearfix;
	display: block;

	li {
		display: block;
		float: left;
	}
}


// font-family
%ff_en {
	font-family: Helvetica, Tahoma, sans-serif;
}

%ff_cn {
	font-family: "Helvetica Neue", Helvetica, Tahoma, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

