// 影片區塊
.H5__content{
	width: 100vw;
	background-color: #FFF;
	padding-bottom: 48px;

	&:after{
		content:"- 我裤子都脱了，你给我看这个！ -";
		display: inline-block;
		position: absolute;
		width: 100%;
		text-align: center;
		margin-top: 15px;
		color: #E2E2E2;
	}

	&.none:after{
		content: "";
	}
}

.video__wrap{
	padding: 0 0.21333rem;
	position: relative;
	.video__tag{
		width: 80px;
		height: 21px;
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		margin-top: 18px;
		display: inline-block;
		left: 0;
		z-index: 3;
		&.new{
			background-image: url(images/tag-news.png);
		}
		&.cn{
			background-image: url(images/tag-cn.png);
		}
		&.jp{
			background-image: url(images/tag-japen.png);
		}
		&.kr{
			background-image: url(images/tag-korea.png);
		}
		&.us{
			background-image: url(images/tag-us.png);
		}
		&.cartoon{
			background-image: url(images/tag-cartoon.png);
		}
		&.foryou{
			background-image: url(images/tag-foryou.png);
		}
		&.search{
			background-image: url(images/tag-search_results.png);
		}
	}
	.video__inner{
		padding-top: 20px;
		&:after{
			content:"";
			display: block;
			width: 100vw;
			height: 1px;
			background-color: #E2E2E2;
			position: absolute;
			left: 0;
		}
		&.top{
			padding-top: 30px;
		}
		.video__block{
			background-color: #000;
			text-align: center;
			position: relative;
			video{
				width: 9.146667rem;
				height: 6.26667rem;
				margin: auto 0;
				padding: 0;
			}
		}
		.video__text{
			position: relative;
			padding: 0 10px;
			padding-bottom: 20px;
			background-color: #FFF;
			&:after{
				content: "";
				display: inline-block;
				width: 100%;
				height: 3px;
				background-color: #FFF;
				position: absolute;
				top: -3px;
				left: 0px;
				z-index: 2;
			}
			.like__wrap{
				display: inline-block;
				padding: 2px 4px;
				background-image: linear-gradient(90deg, #A97FFF 0%, #6699FF 97%);
				border-radius: 2px;
				position: absolute;
				top: -13px;
				left: 10px;
				z-index: 3;
				i{
					display: inline-block;
					width: 12px;
					height: 12px;
					background-image: url(images/like-icon.svg);
					background-repeat: no-repeat;
					background-position: center;
					vertical-align: middle;
				}
				span{
					vertical-align: middle;
					display: inline-block;
					@include font-dpr(11px);
					color: #FFF;
				}
			}
			h3{
				color: #212221;
				@include font-dpr(14px);
				font-weight: bold;
				padding-top: 12px;
			}
			p{
				color: #757575;
				@include font-dpr(12px);
				margin-top: 5px;
				i{
					font-style: normal;
				}
			}
		}
	}
}

// 更多影片

.more__wrap{
	width: calc( 100% + 0.42666rem);
	// width: 100%;
	height: 50px;
	background-color: #FAFAFA;
	margin-left: -0.21333rem;
	position: relative;

	.word{
		display: inline-block;
		@include font-dpr(14px);
		color: #5F5F5F;
		margin-left: calc(0.21333rem + 10px);
		line-height: 50px;
	}

	a{
		display: inline-block;
		position: absolute;
		right: 0.21333rem;
		padding: 8px 15px;
		@include font-dpr(14px);
		border-radius: 5px 5px 15px 5px;
		margin-top: 10px;
		transition: 3500ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
		span{
			display: inline-block;
			color: #FFF;
			margin-right: 10px;
			vertical-align: middle;
			position: relative;
			z-index: 3;
		}
		.go-icon{
			margin-right: 0px;
			width: 13px;
			height: 13px;
			background-image: url(images/btn_arrow.svg);
			background-repeat: no-repeat;
			vertical-align: middle;
			position: relative;
			z-index: 3;
		}
		&:before{
			content: "";
			width: 100%;
			height: 100%;
			background-image: linear-gradient(90deg, #A97FFF 0%, #6699FF 97%);
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 5px 5px 15px 5px;
			z-index: 2;
		}
		&:after{
			content: "";
			width: 100%;
			height: 100%;
			background-color: rgba(111,150,255,0.50);
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 5px 5px 15px 5px;
			box-shadow: 0 3px 10px 0 rgba(111,150,255,0.50);
			z-index: 1;
			transition: 3500ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
		}
		&.over{
			transform: perspective(1200px) scale3d(1.3, 1.3, 1.3) translate3d(0,0,5px);
			transition: 3500ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
			&:after{
				transform: scale3d(0.8, 0.8, 0.8);
				transition: 3500ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
				box-shadow: 0 8px 15px 0 rgba(111,150,255,0.4);
			}
		}
	}
}

// 彈窗

.pop_up-wrap{
	width: 100vw;
	height: 100%;
	position: fixed;
	z-index: 20;
	background-color: rgba(0,0,0,.5);
	overflow: hidden;
	text-align: center;
	pointer-events: auto;
	&:before{
		content:"";
		display: inline-block;
		width: 0px;
		height: 100%;
		// background-color: blue;
		vertical-align: middle;
	}
	&.active{
		opacity: 0;
		transform: scale(1.1);
		transition: all .5s;
		pointer-events: none;
	}
	.pop_up-inner{
		display: inline-block;
		width: 9.55rem;
		height: 9.9rem;
		// background-color: red;
		margin: 0 auto;
		vertical-align: middle;
		background-image: url(images/popup-img.png);
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: relative;
		a{
			&.btn-vip{
				display: inline-block;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0);
				margin-left: -50%;
				border-radius: 50%;
			}
			&.btn-close{
				display: inline-block;
				width: 1.25rem;
				height: 1.25rem;
				position: absolute;
				bottom: -0.5rem;
				margin-left: -0.625rem;
				background-image: url(images/popup-close.png);
				background-repeat: no-repeat;
				background-position: center;
				border-radius: 50%;
				background-color: #b70001;
				border: 2px solid #fffd96;
				box-shadow: 2.5px 4.33px 10px 0px rgba(86, 86, 86, 0.004);
			}
		}
	}
}





