.reviews__list--wrap{
	padding: 0 0.426667rem;
	position: relative;
	padding-top: 0.426667rem;
	min-height: calc(90vh - 84px);

	.list__wrap--inner{
		width: 100%;
		background-color: #FFF;
		border-radius: 5px;
		box-shadow: 0px 8px 20px rgba(0,0,0,.2);
		margin-bottom: 0.8rem;
		
		.list__title{
			background-image: -webkit-linear-gradient(left, #6E9EFF 0%, #AF86FF 83%);
			background-image: -o-linear-gradient(left, #6E9EFF 0%, #AF86FF 83%);
			background-image: linear-gradient(to right, #6E9EFF 0%, #AF86FF 83%);
			padding: 0.326667rem 0.266667rem;
			border-radius: 5px 5px 0 0;
			position: relative;

			h3{
				@include font-dpr(15px);
				color: #FFF;
				display: inline-block;
			}
			a{
				display: inline-block;
				@include font-dpr(12px);
				padding: 5px 8px;
				border-radius: 5px;
				border: 1px solid #FFF;
				position: absolute;
				right: 0.266667rem;
				top: 0.24rem;
				color: #FFF;
			}
		}

		ul{
			
			li{
				padding: 0.266667rem;
				position: relative;
				border-bottom: 1px solid #eaeaea;

				&:last-child{
					border-bottom: 0px;
				}

				p{
					@include font-dpr(13px);
					width: 100%;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					margin-bottom: 3px;
					color: #333;
				}

				span{
					display: inline-block;
					width: 100%;
					@include font-dpr(10px);
					text-align: right;
					color: #666;
				}

			}
		}
	}
}

.list__pagebtn{
	width: 100%;
	// background-color: #56AAEC;
	margin-bottom: 50px;
	position: relative;
	text-align: center;
	ul{
		display: inline-block;
		text-align: center;
		width: calc( 100% - 0.533334rem - 12px );
		li{
			display: inline-block;
			background-color: #FFF;
			padding: 0.213333rem 0.266667rem;
			border-radius: 6px;
			@include font-dpr(12px);
			box-shadow: 0px 2px 6px rgba(0,0,0,.2);
			a{
				color: #666;
			}
		}
	}
	.prev__btn,.next__btn{
		display: inline-block;
		background-color: #FFF;
		padding: 0.213333rem 0.266667rem;
		border-radius: 6px;
		@include font-dpr(12px);
		box-shadow: 0px 2px 6px rgba(0,0,0,.2);
		position: absolute;
		a{
			color: #666;
			display: inline-block;
			width: 12px;
			height: 12px;
			background-image: url(images/arrow.svg);
			background-size: auto 12px;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	.prev__btn{
		left: 0;
		top: -1px;
	}
	.next__btn{
		right: 0;
		top: -1px;
		a{
			transform: rotate(180deg);
		}
	}
}