.videoplay_wrap{
	background-color: #222;
	text-align: center;
	.video_bg{
		background-color: #000;
		position: relative;
		video{
			width: 10.0rem;
			height: 5.653333rem;
			display: inline-block;
		}
		.pop_wrap{
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.5);
			&:before{
				content:"";
				width: 0px;
				height: 100%;
				display: inline-block;
				background-color: #56AAEC;
				vertical-align: middle;
			}
			.pop_inner{
				display: inline-block;
				vertical-align: middle;
				i{
					width: 100%;
					height: 61px;
					display: inline-block;
					background-image: url(images/warning-icon.svg);
					background-position: center;
					background-repeat: no-repeat;
				}
				p{
					color: #FFF;
					@include font-dpr(14px);
					line-height: 20px;
					margin-top: 10px;
					span{
						color: red;
						font-weight: bold;
						@include font-dpr(20px);
					}
				}
				ul{
					margin-top: 10px;
					li{
						display: inline-block;
						width: 30%;
						vertical-align: middle;
						a{
							display: inline-block;
							padding: 8px 13px;
							border-radius: 5px;
							color: #FFF;
							font-weight: bold;
							@include font-dpr(14px);
						}
						&:first-child a{
						background-image: -webkit-linear-gradient(left, #55DCDB 0%, #A8DC60 83%);
						background-image: -o-linear-gradient(left, #55DCDB 0%, #A8DC60 83%);
						background-image: linear-gradient(to right, #55DCDB 0%, #A8DC60 83%);
						}
						&:nth-child(2) a{
						background-image: -webkit-linear-gradient(left, #6E9EFF 0%, #AF86FF 83%);
						background-image: -o-linear-gradient(left, #6E9EFF 0%, #AF86FF 83%);
						background-image: linear-gradient(to right, #6E9EFF 0%, #AF86FF 83%);
						}
						&:nth-child(3) a{
						background-image: -webkit-linear-gradient(left, #53E1ED 17%, #537CED 100%);
						background-image: -o-linear-gradient(left, #53E1ED 17%, #537CED 100%);
						background-image: linear-gradient(to right, #53E1ED 17%, #537CED 100%);
						}
					}
				}

			}
		}
	}
	
	.videoplay_inner{
		text-align: left;
		padding: 12px 26px;
		padding-bottom: 26px;
		.videoplay_text{
			h3{
				color: #FFF;
				@include font-dpr(12px);
				font-weight: normal;
				padding-top: 12px;
			}
			p{
				color: #757575;
				@include font-dpr(12px);
				margin-top: 5px;
				i{
					font-style: normal;
				}
			}

			.videoplay_btnwrap{
				margin-top: 10px;
				white-space: nowrap;
				overflow-y: hidden;
				a{
					display: inline-block;
					width: calc(33.3333% - 4px);
					height: 0.8rem;
					background-color: #3E7AC9;
					vertical-align: top;
					text-align: center;
					line-height: 0.8rem;
					color: #FFF;
					@include font-dpr(12px);
					border-radius: 3px;2
					i{
						display: inline-block;
						vertical-align: middle;
						width: 13px;
						height: 100%;
						background-size: 100%;
						background-repeat: no-repeat;
						background-position: center;
						margin-right: 3px;
					}
					&.like{
					 background-image: -webkit-linear-gradient(left, #A97FFF 0%, #6699FF 97%);
					 background-image: -o-linear-gradient(left, #A97FFF 0%, #6699FF 97%);
					 background-image: linear-gradient(to right, #A97FFF 0%, #6699FF 97%);
					 	i{
							background-image: url(images/play_like.svg);
						}
					 }
					&.unlike{
					 background-image: -webkit-linear-gradient(right, #A6A3A3 1%, #C8C8C8 100%);
					 background-image: -o-linear-gradient(right, #A6A3A3 1%, #C8C8C8 100%);
					 background-image: linear-gradient(to left, #A6A3A3 1%, #C8C8C8 100%);
					 	i{
					 		background-image: url(images/play_unlike.svg);
					 	}
					 }
					&.keep{
					 background-image: -webkit-linear-gradient(left, #71E7CD 6%, #42B5F0 100%);
					 background-image: -o-linear-gradient(left, #71E7CD 6%, #42B5F0 100%);
					 background-image: linear-gradient(to right, #71E7CD 6%, #42B5F0 100%);
					 } 
					span{
						display: inline-block;
						vertical-align: middle;
						color: #FFF;
						@include font-dpr(12px);
					}
					.text{
						margin-right: 3px;
					}	
				}
			}
		}
	}

	// 新增分享連結
	.share__link--wrap{
		display: inline-block;
		background-image: linear-gradient(0deg, #3DC0D1 0%, #3C7AD2 100%);
		// border-radius: 0px;
		width: 100%;
		padding: 4%;
		span{
			display: inline-block;
			width: 100%;
			@include font-dpr(16px);
			margin-bottom: 15px;
			color: #FFF;
		}
		input{
			width: 70%;
			border: 0px;
			@include font-dpr(16px);
			padding: 0.32rem 10px;
			border-radius: 5px 0 0 5px;
		}
		a{
			display: inline-block;
			margin-top: 0px;
			margin-bottom: 0;
			width: 30%;
			padding: 0.32rem 0.533333rem;
			display: inline-block;
			background: #3C7AD2;
			// border: 1px solid #4489EB;
			border-radius: 0 5px 5px 0;
			@include font-dpr(14px);
			color: #FFF;
			margin-bottom: 5px;
			letter-spacing: 1px;
			text-align: center;
			&.login{
				width: 100%;
				@include font-dpr(18px);
				border-radius: 5px;
			}
		}
	}

}