body.blue{
  background-color: #0055d4;
}


.ClearBoth {
  clear:both;
}
.VipMainBanner {
  position: relative;
  width: 100%;
  height:auto;
  padding-top:70%;
  background-image:url(images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.VipMainBg {
  position: absolute;
  width: 1400px;
  height: 790px;
  background-image:url(images/bgmain.png);
  background-repeat: no-repeat;
  pointer-events: none;
  top: 30px;
  left: 50%;
  margin-left:-700px;
  z-index: 2;
}
.VipTitle {
  position:absolute;
  width: 690px;
  height: 300px;
  overflow: hidden;
  background-image:url(images/title.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 20%;
  left: 50%;
  margin-left:-345px;
  text-indent: -9999px;
}
.VipBtn {
  position: absolute;
  width: 358px;
  height:76px;
  background-image:url(images/btn.png);
  text-align: center;
  font-size: 36px;
  text-shadow:0 3px 0 #fa9042;
  line-height: 85px;
  z-index: 1;
  top:478px;
  transition: all .3s;
}
.VipBtn:hover {
  transform: scale(.9);
  top:465px;
}
.VipBtn a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.VipBtn.left {
  left:50%;
  margin-left:-590px;
}
.VipBtn.Right {
  right:50%;
  margin-right:-590px;
}
.VipIcon {
  position: absolute;
  width:100%;
  text-align: center;
  bottom:20px; 
}
.VipIcon ul {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  vertical-align: middle;
  overflow-x: scroll;
  overflow-y: hidden;
}
.VipIcon ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 10%;
  min-width:60px;
  margin:0 2.5px;
}
.VipIcon ul li i {
  display: inline-block;
  width: 65%;
  height: auto;
  padding-top: 65%;
  border-radius: 2000px;
  background-color: #fff329;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  margin-bottom:0;
}
.VipIcon ul li i.Icon1 {
  background-image:url(images/icon001.png); 
}
.VipIcon ul li i.Icon2 {
  background-image:url(images/icon002.png); 
}
.VipIcon ul li i.Icon3 {
  background-image:url(images/icon003.png); 
}
.VipIcon ul li i.Icon4 {
  background-image:url(images/icon004.png); 
}
.VipIcon ul li i.Icon5 {
  background-image:url(images/icon005.png); 
}
.VipIcon ul li i.Icon6 {
  background-image:url(images/icon006.png); 
}
.VipIcon ul li h2 {
  font-size:20px; 
  color:#fff329;
  margin-bottom:5px;
}
.VipIcon ul li p {
  font-size:12px;
  line-height: 18px; 
  color:#fff;
  white-space:normal;
  margin: 0;
}
.Content {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top:-5%;
}
.TabNav {
  position: relative;
  width: 1200px;
  height: 100px;
  border-radius: 5px;
  background-color:#0642b7;
  margin: 0 auto 20px;
  z-index: 5;
}
.TabNav .Btn {
  width: 50%;
  padding:20px 0;
  float: left;
  cursor: pointer;
  text-align: center;
}
.TabNav .Btn.Active {
  background-color:#0ea950;
}
.TabNav .Btn h2 {
  font-size: 32px;
  color:#fff329;
  margin: 0 0 5px 0;
}
.TabNav .Btn p {
  font-size: 16px;
  color:#fff;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.VipContent {
  display: none;
  position: relative;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  color: #fff;
  z-index: 5;
}
.VipContent.Active {
  display: block;
}
.VipContent table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom:50px;
}
.VipContent tr:nth-child(odd) {
    background-color: #084ed5;
}
.VipContent tr.Title {
  background-color: #0642b7;
}
.VipContent td {
  width: 33.3333%;
  font-size: 16px;
  line-height: 22px;
  padding:15px 0;
}
.VipContent h2,.VipContent h3 {
  font-size: 18px;
  font-weight:400;
  margin: 0 0 10px 0;
}
.VipContent h3 span,.VipContent h3 a {
  color:#fff329;
}
.VipContent p {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 20px 0;
}
.VipStepBox {
  position: relative;
  width: 50%;
  float: left;
  z-index: 2;
}
.VipStepBox.FloatRight {
  float: right;
  z-index: 1;
}
.VipStepBox .Pic {
  position: relative;
  width: 95%;
  height: auto;
  padding-bottom:20%; 
  border-radius: 10px;
  border:10px solid #084ed5;
  pointer-events: none;
}
.VipStepBox .Pic img {
  position: absolute;
  width: calc(100% + 4.5% );
  left: 0;
  top:-59%;
}
.VipStepBlueBox {
  width: 100%;
  height:auto;
  padding: 40px 0;
  border-radius: 10px;
  background-color: #3598f8;
  margin-bottom: 50px;
  text-align: center;
}
.VipStepBlueBox h3 {
  font-size: 20px;
  margin:0 0 15px 0;
}
.VipStepBlueBox .Btn {
  display: inline-block;
  vertical-align: middle;
  width: 240px;
  height: 55px;
  border-radius: 55px;
  font-size: 30px;
  text-shadow:0 3px 0 #fa9042;
  line-height: 55px;
  background-image: -webkit-linear-gradient(top right, #F4EB25 0%, #FF8A25 100%);
  background-image: -o-linear-gradient(top right, #F4EB25 0%, #FF8A25 100%);
  background-image: linear-gradient(to bottom left, #F4EB25 0%, #FF8A25 100%);
  transition: all .3s;
}
.VipStepBlueBox .Btn:hover {
  transform: scale(.9);
}
.VipStepBlueBox .Btn a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.VipStepBlueBox i {
  display: inline-block;
  vertical-align: middle;
  border-color: transparent transparent transparent #0081ff;
  border-style: solid;
  border-width:10px;
  height: 0;
  width: 0;
  margin: 0 0 0 10px;
}
.BlueBg {
  padding:20px;
  background-color:#084ed5;
  border-radius: 20px;
  margin-bottom: 30px;
}
.Poker1 {
  position: absolute;
  width: 295px;
  height: 301px;
  background-image:url(images/poker1.png); 
  z-index:0;
  top: 150px; 
  left: 0px; 
}
.Poker2 {
  position: absolute;
  width: 213px;
  height: 259px;
  background-image:url(images/poker2.png);
  z-index:0;
  top: 0px;
  left:120px;
}
.Poker3 {
  position: absolute;
  width:305px;
  height: 394px;
  background-image:url(images/poker3.png);
  z-index:0;
  right:0px;
  top: 270px;  
}
ul.VipBuy {
  overflow: hidden;
  margin-bottom: 50px;
}
ul.VipBuy li {
  position: relative;
  width:225px;
  height:auto;
  padding:50px 0;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  float: left;
  cursor: pointer;
  margin:0 18px 18px 0;
}
ul.VipBuy li:last-child {
  margin: 0;
}
ul.VipBuy li.Active {
  width:215px;
  height:auto;
  padding:45px 0;
  border:5px solid #ff0000;
}
ul.VipBuy li h2 {
  font-size:20px;
  color: #000;
  margin: 0 0 5px 0;
}
ul.VipBuy li h2 span {
  font-size:24px;
  color: #ff0000;
}
ul.VipBuy li p {
  font-size:14px;
  color: #333;
  margin: 0;
  padding:0 10px;
}
ul.VipBuy li .Label {
  position: absolute;
  font-size: 12px;
  line-height: 20px;
  padding: 0 5px;
  background-color: #fa9042;
  top:0;
  right: 0;
}
ul.VipPay {
  padding: 25px 20px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 50px;
}
ul.VipPay li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
ul.VipPay li i {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width:20px;
  height:20px;
  border-radius: 20px;
  background-color: #eeeeee;
  border:1px solid #ddd;
  margin-right: 10px;
}
ul.VipPay li i:after {
  display: none;
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #1d58cd;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}
ul.VipPay li.Active i:after {
  display: block;
}
ul.VipPay li .PayBox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 145px;
  height: 40px;
  border-radius: 3px;
  border:1px solid #ddd;
  overflow: hidden;
}
.VipInputBox {
  margin-bottom: 15px;
}
.VipInputBox label {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #fff;
  margin-right: 10px;
}
.VipInputBox input {
  display: inline-block;
  vertical-align: middle;
  width:255px;
  height: 55px;
  border-radius: 3px 0 0 3px;
  border:none;
  outline: none;
  font-size: 16px;
  color: #333;
  text-indent: 20px;
  margin: 0 -6px 0 0;
  padding:0;
  border:none;
  outline: none;
}
.VipInputBox button {
  display: inline-block;
  vertical-align: middle;
  width:140px;
  height: 55px;
  font-size: 16px;
  color: #fff;
  text-shadow:0 2px 0 #fa9042;
  background-image: -webkit-linear-gradient(top right, #F4EB25 0%, #FF8A25 100%);
  background-image: -o-linear-gradient(top right, #F4EB25 0%, #FF8A25 100%);
  background-image: linear-gradient(to bottom left, #F4EB25 0%, #FF8A25 100%);
  border-radius: 0 3px 3px 0;
  border:none;
  outline: none;
  margin: 0;
  padding:0;
  cursor: pointer;
}
.VipInputBox button:hover {
  background-image: -webkit-linear-gradient(top right, #FF8A25 0%, #F4EB25 100%);
  background-image: -o-linear-gradient(top right, #FF8A25 0%, #F4EB25 100%);
  background-image: linear-gradient(to bottom left, #FF8A25 0%, #F4EB25 100%);
}
.VipFixedNav {
  position: fixed;
  width: 190px;
  top: 50%;
  margin-top: -100px;
  overflow: hidden;
  border-radius: 15px;
  right: 10px;
  z-index: 20;
}
.VipFixedNav ul li {
  font-size:22px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  background-color: #2b8cf7;
  margin-bottom: 1px;
}
.VipFixedNav ul li.Active {
  background-image: -webkit-linear-gradient(top right, #F4EB25 0%, #FF8A25 100%);
  background-image: -o-linear-gradient(top right, #F4EB25 0%, #FF8A25 100%);
  background-image: linear-gradient(to bottom left, #F4EB25 0%, #FF8A25 100%);
  text-shadow:0 2px 0 #fa9042;
}
.VipFixedNav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.VipProcessing {
  font-size: 14px;
  margin-bottom: 50px;
  margin-left: 110px;
}
.VipProcessing i,.VipProcessing p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.VipProcessing i {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color:#fff329;
  text-align: center;
  font-family: "arial";
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  line-height:15px;
  color: #0055d4;
  margin-right: 5px;
}
.VipProcessing a {
  color: #fff329;
}
@media screen and (max-width: 1200px) {
  .Content {
    margin-top:0;
  }
  .VipProcessing {
    margin-left: inherit;
  }
  .VipTitle {
    position: absolute;
    width: 60%;
    height: auto;
    padding-bottom:22%;
    top: 15%;
    left: 50%;
    margin-left: -30%;
  }
  .VipMainBg {
    width:100%;
    height:auto;
    padding-bottom: 55%;
    background-position: center;
    background-size: cover;
    top: 30px;
    left: 50%;
    margin-left: -50%;
    z-index: 2;
    pointer-events: auto;
  }
  .VipIcon ul li h2 {
    font-size: 14px;
  }
  .VipIcon ul li p {
    display: none;
  }
  .VipBtn {
    position: absolute;
    width: 300px;
    height: 64px;
    font-size: 20px;
    line-height: 70px;
    text-shadow: 0 2px 0 #fa9042;
    background-size: cover;
    top:inherit;
    bottom:6%;
    z-index: 5;
  }
  .VipBtn.left {
    left:50%;
    margin-left:-320px;
  }
  .VipBtn.Right {
    right:50%;
    margin-right:-320px;
  }
  .TabNav {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin:0 auto;
  }
  .TabNav .Btn {
    width: 50%;
    padding: 10px 0;
  }
  .VipBtn:hover {
    top:inherit;
  }
  .TabNav .Btn h2 {
    font-size: 20px;
  }
  .TabNav .Btn p {
    width: 100%;
    height: 12px;
    overflow: hidden;
    font-size: 12px;
  }
  .VipContent {
    width: 100%;
    padding:15px;
  }
  .VipStepBlueBox {
    padding: 20px 0;
  }
  .VipFixedNav {
      display: none;
  }
  .Poker1,.Poker2,.Poker3 {
    display: none;
  }
  .VipStepBox .Pic {
    width: 100%;
    margin-bottom: 20px;
  }
.VipContent h2,.VipContent h3 {
  font-size: 16px;
    line-height: 24px;
  }
  .VipContent p {
    font-size: 14px;
    line-height: 22px;
  }
  .BlueBg {
    padding: 20px;
    margin-bottom: 20px;
  }
  .VipContent table {
    margin-bottom: 20px;
  }
  .VipContent td {
    width: 33.3333%;
    font-size: 14px;
    line-height: 22px;
  }
  ul.VipBuy li {
    width:calc((100% - 60px) / 3);
    padding: 50px 0;
    margin:0 10px 20px;
    box-sizing: border-box;
  }
  ul.VipBuy li.Active {
    width:calc((100% - 60px) / 3);
    height: auto;
    padding: 45px 0;
  }
  ul.VipBuy li:last-child {
    margin:0 10px 20px;
  }
}
@media screen and (max-width: 650px) {
  .VipMainBanner {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 105%;
  }
  .VipIcon {
    bottom:6%; 
  }
  .VipIcon ul li h2 {
    font-size:12px;
  }
  .VipMainBg {
    width: 100%;
    height: auto;
    padding-bottom:90%;
    background-size:150%;
    top: 0;
    left: 50%;
    margin-left: -50%;
  }
  .VipStepBlueBox .Btn {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .VipStepBox {
    width: 100%;
    float: none;
  }
  .VipStepBlueBox i {
    display: none;
  }
  .VipTitle {
    position: absolute;
    width: 90%;
    height:auto;
    padding-bottom:40%;
    background-size:100%;
    top:20%;
    margin-left: -45%;
  }
  .VipBtn {
    position: absolute;
    width:45%;
    height:auto;
    padding-bottom:9.5%;
    font-size: 20px;
    line-height: inherit;
    background-size:100%;
    text-shadow: 0 2px 0 #fa9042;
    top: inherit;
    bottom: 20px;
    z-index: 5;
  }
  .VipBtn a {
    position: absolute;
    font-size: 16px;
    top:50%;
    margin-top: -7px;
  }
  .VipBtn.left {
    left: 50%;
    margin-left:-47%;
  }
  .VipBtn.Right {
    right: 50%;
    margin-right:-47%;
  }
  ul.VipBuy li {
    width: calc((100% - 30px) / 3);
    padding: 25px 0 10px;
    margin: 0 5px 10px;
    box-sizing: border-box;
  }
  ul.VipBuy li:last-child {
    margin:0 5px 10px;
  }
  ul.VipBuy li.Active {
    width: calc((100% - 30px) / 3);
    height: auto;
    padding: 22.5px 0 7.5px;
    border: 2.5px solid #ff0000;
}
.TabNav .Btn h2 {
    font-size: 16px;
}
ul.VipBuy {
    margin-bottom: 20px;
}
  ul.VipPay {
      padding: 15px 20px;
      margin-bottom: 20px;
  }
  ul.VipBuy li h2 {
    font-size: 14px;
  }
  ul.VipBuy li h2 span {
    font-size: 16px;
  }
  ul.VipBuy li p {
    font-size: 12px;
    line-height: 18px;
  }
  .VipInputBox label {
    display: block;
    margin-bottom: 10px;
  }
  .VipInputBox input {
    width: 70%;
  }
  .VipInputBox button {
    width: 30%;
  }
}
@media screen and (max-width: 375px) {
  .VipBtn {
    bottom: 15px;
  }
  .VipIcon {
    bottom: 20px;
  }
}